body {
  /* background-color: ; */
}

.App {
}

.dropdownLabel,
#dropdown {
  margin: 5px;
  margin-bottom: 20px;
}

.labels,
.inputField {
  margin: 2px;
}

.labels {
  margin-left: 20px;
  text-align: left;
  min-width: 200px;
  display: inline-block;
}

.inputField {
  min-width: 500px;
}

.separator {
  height: 10px;
}

.particulars_label {
  margin-left: 20px;
  text-align: left;
  display: inline-block;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
